@font-face {
  font-family: "Matrix";
  src: url("../font/MatrixCodeNfi-YPPj.otf");
}

.matrix {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Matrix";
  padding: 0;
  margin: 0;
  overflow: hidden;
}
